name: CI

on:
  push:
    branches: [master]
    
jobs:
  CI:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@3

      - name: Docker Login
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.USER_DOCKER_HUB }}
          password: ${{ secrets.PWD_DOCKER_HUB }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v3.2.0
        with:
          context: .          
          push: true
          tags: |
            luizcssoares/apirestmessage:v1
            luizcssoares/apirestmessage:latest
